@model richinni.Models.SelectUserRolesViewModel

@{
    ViewBag.Title = "使用者角色管理";
}

<h2>使用者角色管理 - @Html.DisplayFor(model => model.UserName)</h2>
<hr />

@using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>
        <h4>選擇要您要加入的角色</h4>
        <hr />
        <table>
            <tr>
                <th>
                    勾選
                </th>
                <th>
                    角色
                </th>
            </tr>
            <tr>@Html.EditorFor(model => model.Roles)</tr>            
        </table>
        <br />
        <hr />        

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}
